@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carousel.css");

:root {
    --cor-de-fundo: #FFFF;
    --branco: #FFFFFF;
    --preto: #292727;
    --vermelho-degrade: linear-gradient(97.54deg, #292727 35.49%, #ffe600 165.37%);
    --fonte-principal: "Helvetica";
    --vermelho: #ffffff;
    --fonte-secundario: "sans-serif";
    --preto: #000000; 
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}